header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.banner{
    position: relative;
}
.show{
    position: absolute;
    text-align: center;
    width:100%;
}
.titleproducts{
    text-align: center;
        width:100%;

}
.product-card{
    width: 280px;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.image-container{
    position: relative;
    width: 100%;
}
.image-container img{
width:100%;
height: 250px;
object-fit: cover;
border-radius: 12px;
}
.product-info{
    padding-top: 10px;
}
.title{
    margin: 0;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
}

.price{
    color: #000000;
}

.description{
    margin: 0;
    line-height: 1.2;
    font-size: 12px;
}
.title-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    
}
.btn{
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 30px;
}